@media (max-width: 830px) {
    .card {
        flex-direction: column;
        margin-bottom: 100px;
        border-radius: 15px;
        margin: 100px auto;
    }


    .card img {
        border-radius: 15px 15px 0 0;
    }

    .card .profile .share.active {
        position: absolute;
        display: block;
        right: 20px;
        bottom: -50px;
        display: flex;
    }
}